PORT = # PUERTO DE CONECCION AL SERVIDOR

DB_HOST= # HOST DE LA BASE DE DATOS
DB_PORT= # PUERTO DE LA BASE DE DATOS
DB_USER= # USUARIO DE LA BASE DE DATOS | POSTGRESQL
DB_PASSWORD= # CONTRASEÑA DE LA BASE DE DATOS
DB_NAME= # NOMBRE DE LA BASE DE DATOS
DB_SYNC= # SINCRONIZACION DE LA BASE DE DATOS
DB_DROP= # ELIMINACION DE LA BASE DE DATOS
DB_LOG= # LOGS DE LA BASE DE DATOS