.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    padding: 20px;
}

.loginWrapper {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 750px;
    height: 360px;
    align-items: stretch;
}

.leftPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-right: 1px solid #ddd;
    background-color: #fff;
}

.leftPanel h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.logoPlaceholder {
    width: 150px;
    height: 150px;
    background-color: #eaeaea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    font-size: 0.9rem;
    margin-top: 10px;
}

.logoPlaceholder img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.rightPanel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
}

.body{
    background-color: #333;
}

.mainContent{
    flex-grow: 1;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../public/images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.background {
    min-height: 100vh;
    width: 100%;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 0.4)
        ),
        url(/images/logo.jpg); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contentPage {
    margin: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}